<% if @new_post == true %>
	<%= render 'shared/error', obj: group %>
	<%= form_for [@study_group, @post], url: new_study_group_post_path(@study_group) do |f| %>
		<div class='control-group'>
			<%= f.label 		 :title %><br/>
			<%= f.text_field :title %>
		</div>

		<div class='control-group'>
			<%= f.label :body %><br/>
			<%= f.text_area :body, rows: 2 %>
		</div>
		<br/>
		<%= f.submit "New Post", class: 'btn btn-success' %>
	<% end %>
<% end %>