<%= render 'shared/title', header: "#{@course.name}", sub_header: "Teacher: #{@course.teacher.username}" %>
<% if teacher? %>
<% end %>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if params[:tab].nil? %>">
  	<%= link_to "Posts", course_path(@course) %>
  </li>
  <li role="presentation" class="<%= 'active' if params[:tab] == "students" %>">
  	<%= link_to 'Students', course_path(@course, tab: "students") %>
  </li>
  <li role="presentation" class="<%= 'active' if params[:tab] == "study_groups" %>">
  	<%= link_to 'Study Groups', course_path(@course, tab: "study_groups") %>
  </li>
</ul>

<%if params[:tab].nil? %>
<h3>Posts 
	<span class="label label-default">
		<%= link_to 'New Post', course_path(@course, new_post: true), class: "sidebar-a" %>
	</span>
</h3>
	<%= render 'shared/post_form', group: @course, post: Post.new%>
	<% @posts.each do |post| %>
		<%= render 'posts/post', post: post %>
	<% end %>
<% elsif params[:tab] == "students" %>
	<% @course.students.each do |student| %>
		<%= render'students', student: student %>
	<% end %>
<% elsif params[:tab] == "study_groups" %>
	<h3>Study Groups
		<span class="label label-default">
			<%= link_to 'New Study Group', course_path(@course, new_study_group: true, tab: "study_groups"), 
					class: " sidebar-a" %>
		</span>
	</h3>
	<%= render 'study_group_form', course: @course, study_group: @study_group %>
	<% @course.study_groups.each do |study_group| %>
		<div class='well study-group-well'>
			<h3 class="study-group-title">
				<%= link_to "#{study_group.name}", study_group_path(study_group) %>
			</h3>
				<% study_group.users.each do |student| %>
					<%= render'students', student: student %>
				<% end %>
			<% if logged_in? && enrolled?(@course) %>
					<%= link_to "Join Group", enroll_study_group_path(study_group, user_id: current_user.id), method: 'post', class: "btn btn-success btn-small" %>
			<% end %>
		</div>
	<% end %>
<% end %>
